.OWNED {
    
}

.OWNED:hover {

}

.NON_MINTABLE {
    filter: grayscale(90%);
}

.NON_MINTABLE:hover {
    filter: grayscale(40%);
}


.MINTABLE {
    filter: grayscale(90%); 
}

.MINTABLE:hover {
    filter: grayscale(40%);
}