.OWNED {
    filter: saturate(1.0) contrast(1.0)
}

.OWNED:hover {

}

.NON_MINTABLE {
    filter: grayscale(90%);
}

.NON_MINTABLE:hover {
    filter: grayscale(0%);
}


.MINTABLE {
    filter: grayscale(90%); 
}

.MINTABLE:hover {
    filter: grayscale(0%);
}

.hoverglow {
    box-shadow:none;
  }
.hoverglow:hover, .hoverglow:active {
    box-shadow: 0 0 5px 1px #ffd50077, inset 0 0 15px #ffd000;
}

.reflection {    
    display:block;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.1)));
}
