.App {
  text-align: center;
  padding-top:50px;
}

.badge-container {
  margin-top: 100px;
}

.page-title {
  margin-bottom: 100px
}


body {
  background-image: url("bg_blur.png") !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}


