.App {
  text-align: center;
  padding-top:50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}


.badge-container {
  margin-top: 100px;
}

.page-title {
  margin-bottom: 100px
}


